#bg
  .zoomer
    / = image_tag "switzerland.jpg"
    = image_tag "happy_alpha.jpg"

.container
  .row
    .thought
      %span.to= @shout.to
      = @shout.message
      %span.from
        = @shout.from
        - if @shout.from_user
          - c = @shout.from_user.company
          = "-"
          = link_to (c.name.blank? ? c.domain : c.name), c
