= navbar position: :top do
  = vertical do
    = link_to root_path do
      %span.glyphicon.glyphicon-cloud
      Love
  = horizontal do
    = nav class: 'navbar-right' do
      = link_to 'Shoutouts', shouts_path
      = link_to 'Companies', companies_path
      = render partial: "application/account_dropdown"
